!! URxvt Appearance
URxvt*font: xft:ShureTechMono Nerd Font:size=10, \
			xft:Symbola:style=Regular:size=6	
!!URxvt*depth: 32
!!URxvt*letterSpace: 0
!!URxvt*lineSpace: 0
!!URxvt*geometry: 92x24
URxvt*internalBorder: 20
URxvt*cursorBlink: true
URxvt*cursorUnderline: false
!!URxvt*saveline: 2048
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*urgentOnBell: true
!!URxvt*iso14755: false
URxvt*transparent: true 
URxvt*shading: 10
!!URxvt*blurRadius: 3

! special
*.foreground:   #a9a79f
*.background:   #20201d
*.cursorColor:  #a6a28c

! black
*.color0:       #20201d
*.color8:       #7a7971

! red
*.color1:       #d73737
*.color9:       #d73737

! green
*.color2:       #60ac39
*.color10:      #60ac39

! yellow
*.color3:       #cfb017
*.color11:      #cfb017

! blue
*.color4:       #6684e1
*.color12:      #6684e1

! magenta
*.color5:       #b854d4
*.color13:      #b854d4

! cyan
*.color6:       #1fad83
*.color14:      #1fad83

! white
*.color7:       #a6a28c
*.color15:      #fefbec


!! Xft
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.hintful: true

!! Common Keybinds for Navigation
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: command:\033[1;5A
URxvt.keysym.Control-Down: command:\033[1;5B
URxvt.keysym.Control-Right: command:\033[1;5C
URxvt.keysym.Control-Left: command:\033[1;5D

!! Copy/Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,resize-font
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:active
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: torb 
URxvt.url-select.button: 1
URxvt.url-select.underline: true
